<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AC Birthdays!</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap" rel="stylesheet"> 
    <link href= "{{ url_for('static',filename='css/style.css') }}" rel= "stylesheet" type= "text/css">
  </head>

  <body>
    <!--Account for firefox -->
    <script>0</script>

    <div class="titleDiv">
      <h1>AC Villager birthdays!</h1>
      <p>Who do you share a birthday with?!</p>
    </div>

    <div class="inputDiv">
      <div
        id="article-alert"
        class="py-3 px-5 mb-4 text-sm rounded-md border flex items-center hidden"
        role="alert">
        <i class="fas pr-4 hidden"></i>
        <pre class="inherit">Warning!</pre>
      </div>

      <font size="5">Enter your birthday below:</font>
      <br><br>
      <input type="date" id="birthday" name="birthday">
      <button class="submit hover:bg-gray-400">Enter!</button>
    </div>

    <div class="dataDiv" id="data"></div>

    <script src="{{ url_for('static',filename='js/vars.js') }}"></script>
    <script src="{{ url_for('static',filename='js/handle.js') }}"></script>
    <script src="{{ url_for('static',filename='js/alert.js') }}"></script>
  </body>
</html>
